#disable_html_escaping()
#if( $value )

#if( $value.changeType.toLowerCase().startsWith('subversion') || $value.changeType.toLowerCase().startsWith('svn') )
    #set( $myChange = "Revision" )
    #set( $myChangeLogo = "subversion" )
#elseif( $value.changeType.toLowerCase().startsWith('git') )
    #set( $myChange = "Revision" )
    #set( $myChangeLogo = "git" )
#elseif ( $value.changeType.toLowerCase().startsWith('collaborator') || $value.changeType.toLowerCase().startsWith('coco') )
    #set( $myChange = "Review" )
    #set( $myChangeLogo = "collaborator" )
#elseif ( $value.changeType.toLowerCase().startsWith('designsync') || $value.changeType.toLowerCase().startsWith('sync') )
    #set( $myChange = "Revision" )
    #set( $myChangeLogo = "designsync" )
#elseif( $value.changeType.toLowerCase().startsWith('swarm') )
    #set( $myChange = "Review" )
    #set( $myChangeLogo = "swarm" )
#elseif(  $value.changeType.toLowerCase().startsWith('clearcase') || $value.changeType.toLowerCase().startsWith('cc') 
    || $value.changeType.toLowerCase().startsWith('ucm') )
    #set( $myChange = "Version" )
    #set( $myChangeLogo = "clearcase" )
#elseif(  $value.changeType.toLowerCase().startsWith('electric-cloud') || $value.changeType.toLowerCase().startsWith('ec') )
    #set( $myChange = "Integration" )
    #set( $myChangeLogo = "electric-cloud" )
#elseif(  $value.changeType.toLowerCase().startsWith('jenkins') )
    #set( $myChange = "Integration" )
    #set( $myChangeLogo = "jenkins" )
#elseif ( $value.changeType.toLowerCase().startsWith('perforce') || $value.changeType.toLowerCase().startsWith('p4') )
    #set( $myChange = "Change" )
    #set( $myChangeLogo = "perforce" )
#elseif( $value.changeType.toLowerCase().startsWith('gerrit') )
    #set( $myChange = "Change" )
    #set( $myChangeLogo = "gerrit" )
#else
    #set( $myChange = "Integration" )
    #set( $myChangeLogo = "scm" )
#end

## Main action detail
<div class="action-details">
    <div id="$myChangeLogo" title="$value.changeType"></div>
    $myChange  
    #if ( $!value.changeLink && $!value.changeLink != "" ) 
        <a href="$value.changeLink" target="_blank">$value.changeId</a>
    #else
        $value.changeId
    #end
    #if ( $!value.changeBranch && $!value.changeBranch != "" )
        ($value.changeBranch) 
    #end    
    by 
    #if ( $!value.jiraAuthor != "" )
        <a href="/secure/ViewProfile.jspa?name=$value.changeAuthor">$value.jiraAuthor</a>
    #else
        $value.changeAuthor
    #end
    -
    $value.changeDate
    #if ( $!value.changeTag && $!value.changeTag != "" )
        ($value.changeTag) 
    #end
    #if ( $!value.changeStatus && $!value.changeStatus != "" )
        ($value.changeStatus)
    #end
</div>

<div class="action-body">
    #if ( $!value.changeMessage && $!value.changeMessage != "" )
        <!--<div style="white-space: pre-wrap;">$value.changeMessage</div>-->
        <span>$value.changeMessage</span>
    #end

    #if( $value.changeFiles && $value.changeFiles.size() > 0 )
        <p><a id="scmactivityaffect" onClick="doAffectsToggleCFC($value.id);">Affected files ... ($value.changeFiles.size())</a></p>
        <div id="scmactivityaffectdivCFC_$value.id" style="display: none;font-family: 'Courier New',Courier; font-size: 12px;">
        <table>
        #foreach ( $scmFile in $value.changeFiles )
            <tr><td id="$scmFile.getFileAction().toLowerCase()" style="text-align:right;">
                $scmFile.getFileAction().toUpperCase() &nbsp;</td>            
            <td>$scmFile.getFileName()
            #if( $scmFile.getFileVersion() )
                #$scmFile.getFileVersion()
            #end
            </td></tr>
        #end
        </table>
        </div>
    #end

    #if ( $value.jobs && $value.jobs.size() > 0 )
        <p><a id="scmactivityjob" onClick="doJobsToggleCFC($value.id);">Jobs ($value.jobs.size())</a></p>
        <div id="scmactivityjobdivCFC_$value.id" style="display: none;">
        <ul>
        #foreach ( $job in $value.jobs )
            <li>
                #if ( $!job.jobLink && $!job.jobLink != "" )
                    <a href="$job.jobLink" target="_blank">$job.jobName</a>
                #else
                    $job.jobName
                #end                        
                #if ( $!job.jobStatus && $!job.jobStatus != "" )
                    ($job.jobStatus)
                #end
            </li>
        #end
        </ul>
        </div>
    #end
</div>

#end