#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("scm.activity.admin.option.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()" />
    $webResourceManager.requireResourcesForContext($i18n.getText("scm-activity-plugin-resources.context"))
    <script>
        function prepareEdit() {
            AJS.$("#scmOptionDisplay").stop().hide();
            AJS.$("#scmOptionEdit").stop().show();
        }
        function prepareCancel() {
            AJS.$("#scmOptionDisplay").stop().show();
            AJS.$("#scmOptionEdit").stop().hide();
        }        
    </script>   
</head>
<body>


<!-- config display -->

<div id="scmOptionDisplay">
<form id="admin" class="aui" method="post" action="ScmActivityOptionAction.jspa">
<h2>$i18n.getText("scm.activity.admin.option.label")</h2>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("scm.activity.admin.jira_event_id.label"):
        <!--<span class="aui-icon icon-required"></span>-->
    </label>
    <input type="text" id="disabled-field-id" name="jira_event_id" class="text" value="$!jira_event_id" disabled=""/>
    <div class="description">$i18n.getText("scm.activity.admin.jira_event_id.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("scm.activity.admin.expand_count.label"):
        <!--<span class="aui-icon icon-required"></span>-->
    </label>    
    <select id="expand_count" name="expand_count" class="text" disabled="">
        #foreach ($option in [1..25])
            <option value="$option"
            #if ($option && $option == $expand_count)selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("scm.activity.admin.expand_count.description")</div>
</div>

<div class="aui-buttons">
    <input class="aui-button" type="button" name="edit" value="Edit &uarr;" onClick="prepareEdit();" /> 
</div>
</form>
</div>



<!-- options edit -->


<div id="scmOptionEdit" style="display: none;">
<form id="admin" class="aui" method="post" action="ScmActivityOptionAction.jspa" >
<h2>$i18n.getText("scm.activity.admin.option.label") &rarr; EDIT</h2>

<div class="field-group">
    <label for="jira_event_id">
        $i18n.getText("scm.activity.admin.jira_event_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="jira_event_id" name="jira_event_id" class="text" value="$!jira_event_id" />
    <div class="description">$i18n.getText("scm.activity.admin.jira_event_id.description")</div>
</div>

<div class="field-group">
    <label for="expand_sets">
        $i18n.getText("scm.activity.admin.expand_count.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="expand_count" name="expand_count" class="text" value="$!expand_count">
        #foreach ($option in [1..25])
            <option value="$option"
            #if ($option && $option == $expand_count)selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("scm.activity.admin.expand_count.description")</div>
</div>

<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="Save &rarr;" />
    <input class="aui-button" type="reset" name="reset" value="Reset" />
    <input class="aui-button" type="button" name="cancel" value="Cancel" onClick="prepareCancel();" />
</div>
</form>
</div>


<!-- config status -->
<p style="background-color:#E0FFFF;">$!status</p>

<br/>

<!-- Documentation -->
<h2>FAQs</h2>
<p><a target="_blank" href="https://github.com/the-scm-enthusiast-group/jira-scm-activity-plugin/wiki/JIRA-SCM-Activity-Custom-Notification-Event-(Changeset-Submitted)">
Configure Custom JIRA Notification Event for SCM Activity Plugin</a></p>


</body>
</html>
